<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<div class="page__footer-map">
<script type="text/javascript" src="//rf.revolvermaps.com/0/0/5.js?i=5ueltqwbj70&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;s=90" async="async"></script>
</div>

<!-- <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=a5f9cc746a0fe642d4b8bfc52a50a98ced939456'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/813898/t/2"></script>
-->
<!-- end custom footer snippets -->
