<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=e3d9d9&w=a&t=t&d=pPaNrj5E2aA5oUqGJoMV50kTpAQ8SPYqsKvgMcGEDL0&co=fcfcfc'></script>

 <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=a5f9cc746a0fe642d4b8bfc52a50a98ced939456'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/813898/t/2"></script>
<!-- end custom footer snippets -->
