<script type="text/javascript">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = 'true';
    ga.src = 'https://www.googletagmanager.com/gtag/js?id=' + '{{ site.analytics.google.tracking_id }}';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>
	(function() {
    var ga = document.createElement('script');
    ga.textContent = [ "window.dataLayer = window.dataLayer || [];",
  					"function gtag(){dataLayer.push(arguments);}",
					"gtag('js', new Date());",
					"gtag('config','{{ site.analytics.google.tracking_id }}');"].join("\n");
    var s = document.getElementsByTagName('script')[1]; s.parentNode.insertBefore(ga, s);
  })();
</script>